__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3

*.db
*.sqlite3
instance/
*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

docker-compose.override.yml
.env.docker

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.env
.venv
.env.local
.env.*.local
staticfiles/